{% load static %}
<ul id="preview-grid" class="preview-grid">
  {% for article in article_list %}
  <li class="preview-grid-item">
    <a
      href="{{article.slug}}"
      data-codelink={{article.github_url}}
      data-websitelink="{{article.slug}}"
      data-largesrc="{{article.grid_image.url}}"
      data-title="{{article.title}}"
      data-description="{{article.description}}"
    >
      <img src="{{article.grid_image.url}}" alt="img01" />
    </a>
  </li>
  {% endfor %}
  <!-- <div class="preview-spacer"></div> -->
</ul>
