<div class="hero-content">
  <h1>
    Darryl Dague
  </h1>
  <p>
    I am full-stack web developer. I am passionate about designing and building web applications.
  </p>
  <p>
    Pursuing second bachelor's in Computer Science at University of People.
  </p>
  <p>Languages: Python, JavaScript, CSS, HTML</p>
  <p>
    Especially competent in Django, ReactJS, NextJS 
  </p>
  <div class="external-links">
    <a>Github</a>
    <a>LinkedIn</a>
    <a>Leetcode</a>
  </div>

  <div class="scroll-down">
    scroll down 
  </div>

</div>